.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 1.5rem;
}

.drinksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.drinksList h2 {
  font-size: 1.25rem;
}

.drinksList p {
  font-style: italic;
  margin-bottom: 0;
}

.drinksList input {
  min-height: 1.5rem;
  min-width: 1.5rem;
  accent-color: black;
}

.drinkWrapper {
  display: flex;
  justify-content: space-between;
}

.drinkWrapper span {
  display: flex;
}

.drinkText {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    font-size: 1.25rem;
  }

  .drinksList h2 {
    font-size: 1rem;
  }

  .drinksList p {
    font-size: 0.85rem;
  }
}
